<div class="row mt-3">
  <div class="col-lg-9 border-dark">
    <h5>Live Kill Feed</h5>
    <div>
      <table class="table table-striped">
        <thead class="bg-light">
          <tr>
            <th class="w-1px mobile-display-none">Time</th>
            <th class="w-1px">Ship</th>
            <th>Location</th>
            <th>Victim</th>
            <th>Attacker</th>
          </tr>
        </thead>
        <tbody class="killfeed">
          <% @kills.each do |f| %>
            <tr>
              <td class="mobile-display-none"><%= local_time(f.created_at,"%H:%M") %><br><span class="text-primary"><%= get_total_value_of_kill(f) %>&nbsp;Cr</span></td>
              <td class="text-center">
                <a href="/kill/<%= f.id %>">
                  <div class="space-img-back-kill">
                    <img src="https://s3-eu-west-1.amazonaws.com/static.stellar-invictus.com/assets/ships/<%= f.ship_name.downcase %>.png">
                  </div>
                </a>
              </td>
              <td>
                <%= f.site_name %><br>
                <a href="/system/<%= f.system_name %>" class="color-sec-<%= Kill.systems[f.system_name] rescue ''%>"><%= f.system_name %></a>
              </td>
              <td>
                <img src="https://s3-eu-west-1.amazonaws.com/static.stellar-invictus.com/assets/avatars/<%= f.avatar %>.jpg", class="avatar-img mobile-display-none">
                <a href="/user/<%= f.identifier %>"><%= f.full_name %></a> (<%= f.ship_name %>)<br>
                <%= f.corporation ? "<a href='/corporation/#{f.corporation['id']}'>#{f.corporation['name']}</a>".html_safe : "<span class=\"text-muted\">No Corp</span>".html_safe %>
              </td>
              <td>
                <% if f.killers[0] == "npc" %>
                  <img src="https://s3-eu-west-1.amazonaws.com/static.stellar-invictus.com/assets/avatars/Outlaw.jpg", class="avatar-img mobile-display-none">
                <% else %>
                  <img src="https://s3-eu-west-1.amazonaws.com/static.stellar-invictus.com/assets/avatars/<%= f.killers[0]['avatar'] %>.jpg", class="avatar-img mobile-display-none">
                <% end %>
                <% if f.killers[0] == "npc" %>
                  Outlaw<br>
                  <span class="text-muted">No Corp</span>
                <% else %>
                  <a href="user/<%= f.killers[0]['id'] %>"><%= f.killers[0]['name'] %></a> (<%= f.killers[0]['ship_name'] %>)<br>
                  <% if f.killers[0]['corporation'] %>
                    <a href="/corporation/<%= f.killers[0]['corporation']['id'] %>"><%= f.killers[0]['corporation']['name'] %></a>
                  <% else %>
                    <span class="text-muted">No Corp</span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-3 border-dark">
    <h5 class="text-white text-center">Top Killers</h5>
    <table class="table table-striped">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Number of Kills</th>
        </tr>
      </thead>
      <tbody>
        <% @top_killers.each do |t| %>
          <% next if t.killers[0] == "npc" %>
          <tr>
            <td><a href="/user/<%= t.killers[0]['id'] %>"><%= t.killers[0]['name'] %></a></td>
            <td><%= t.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <h5 class="text-white text-center mt-5">Wall of Shame</h5>
    <table class="table table-striped">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Deaths</th>
        </tr>
      </thead>
      <tbody>
        <% @wall_of_shame.each do |k| %>
          <tr>
            <td><a href="/user/<%= k.identifier %>"><%= k.full_name %></a></td>
            <td><%= k.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>